    #btn8 {
        background: black;
        color: #fff;
        border: 2px solid grey; /* Define a border padrão */
        border-radius: 15px;
        padding: 12px 32px;
        font-size: 1rem;
        cursor: pointer;
        box-shadow: 0 2px 6px rgba(0, 123, 255, 0.15);
    }
    #btn8:hover {
        box-shadow: 0 8px 24px rgba(0, 123, 255, 0.25);
        transform: translateY(-6px);
        transition:
            box-shadow 0.3s cubic-bezier(.4,2,.6,1),
            transform 0.3s cubic-bezier(.4,2,.6,1);
        border: 2px solid #19dcea; /* Muda a cor da borda ao passar o mouse */
        box-shadow: #00818a 0px 3px 0px 4px ; 
        /* Esse efeito 3d também e uma ilusão que passa despercebida pelo user,
         e apensar um shadow com um contraste */
    }
